.background {
  viewport-fill: black;
}

text {
  font-family: Fabrikat-Black;
  text-length: 32;
  text-anchor: middle;
  x: 50%;
  fill: white;
}


#clock {
  x: 50%;
  y: 40%+15;
  fill: white;
}

#dateBox {
  font-size: 60;
  x: 50%;
  y: 40%+35;
  fill: white;
}

#dayBox {
  x: 50%;
  y: 40%-20;
  fill: white;
}


#timeBox {
  font-size: 120;
  y: 45%+40;
}

#timeBoxShadow {
  font-size: 120;
  x: 50%+3;
  y: 45%+43;
}

#wordBox {
  font-size: 30;
  y: 85%;
}

#wordBoxShadow {
  font-size: 30;
  x: 50%+2;
  y: 85%+2;
}

#heartRate {
  font-size: 30;
  x: 50%;
  y: 80%;
  fill: white;
}